<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupa15.mapper.GuideMapper">

    <select id="selectGuideVoOfType" resultType="GuideVO">
        Select *
        FROM student.guide g
        WHERE g.guide_type = #{typeId}
    </select>

    <select id="selectGuideTypeVo" resultType="GuideTypeVO">
        Select *
        FROM student.guide_type
    </select>

    <select id="selectGuideTypeVoById" resultType="GuideTypeVO">
        SELECT *
        FROM student.guide_type
        WHERE type_id = #{typeId}
    </select>

</mapper>
