<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupa15.mapper.GuideMapper">

    <select id="selectGuideVoOfType" resultType="GuideVO">
        Select *
        FROM xjtlu_app.guide g
        WHERE g.guide_type = #{typeId}
    </select>

    <select id="selectGuideTypeVo" resultType="GuideTypeVO">
        Select g.type_id, IFNULL(g.type_name->>'$.${lang}', g.type_name->>'$.en') as type_name, g.type_image
        FROM xjtlu_app.guide_type g
    </select>

    <select id="selectGuideTypeVoById" resultType="GuideTypeVO">
        SELECT g.type_id, IFNULL(g.type_name->>'$.${lang}', g.type_name->>'$.en') as type_name, g.type_image
        FROM xjtlu_app.guide_type g
        WHERE g.type_id = #{typeId}
    </select>

</mapper>
