<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupa15.mapper.UserMapper">
    <select id="selectUserInfoVoByUserId" resultType="UserInfoVO">

        SELECT u.user_id, u.user_name, i.avatar, i.real_name,
               i.major, i.semester, i.real_id, i.email
        FROM xjtlu_app.user u
            INNER JOIN xjtlu_app.user_info i
            ON u.user_id = i.user_id
        WHERE u.user_id = #{userId}

    </select>
</mapper>